*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar{
   background-color: rgb(0, 0, 0);
   height: 7vh;
   color: azure;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

#links{
    display: flex;
    justify-content: space-around;
    width: 30vw;
}

.link-style{
    color: rgb(93, 93, 255);
    font-size: medium;
    text-decoration: none;
    position: relative;
    top:2px;
    left:70vw;
    color: white;
}

.text{
    margin-left: 45vw;
    margin-top: 10vh;
    color: rgb(255, 3, 3);
    font-size: larger;
}
#kal{
    font-size: larger;
    color: white;
    text-decoration: none;
}
