
.form-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  
  .my-form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 20px;
    max-width: 400px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .success-message {
    color: green;
    margin-bottom: 10px;
  }
  
  .error-message {
    color: red;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  label {
    margin-bottom: 8px;
    font-family: 'Arial', sans-serif; 
  }
  
  input {
    padding: 15px;
    margin-bottom: 15px;
    font-family: 'Arial', sans-serif; 
  }
  
  input[type="submit"] {
    background-color: green;
    color: white;
    cursor: pointer;
  }
  .success-message{
    background-color: rgb(18, 18, 225);
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
  }
  #reg{
    position: relative;
    left: 20px;
    padding:8px;
  
  }
 
  
  